.rowData{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.records{
    display: flex;
    margin-left: 25%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 14%;
    margin-top: 10%;
}

.rock{
    padding-top: 10%;
    text-align: center;
}

.heart{
    
}