.genresRows{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.genresRowOne{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.genresRowTwo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.guitar{
    
}

.amplifier{

}

.singer{

}

.electricGuitar{

}